body {
    background-color: salmon;
}

#toter {
    color: rgb(255, 183, 0);
    font-family: monospace;
}

.haa {
    background-color: rgb(250, 192, 188);
    width: 1200px;
    color: deepskyblue;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 40px;
    padding-bottom: 20px;
}

.ome {
    border-radius: 5px;
}

.ods {
    font-family: monospace;
}